.loading-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffffff, #ebe8d5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.loading-pl {
  display: block;
  overflow: visible;
  width: 8em;
  height: 8em;
}

.loading-ring {
  stroke: hsla(120, 90%, 5%, 0.1);
  transition: stroke var(--trans-dur);
}

.loading-worm {
  stroke: #008000; /* 진한 초록색 */
  transform-origin: 64px 64px;
  visibility: hidden;
}

.loading-worm--moving {
  animation: worm 8s linear;
  visibility: visible;
}

@keyframes worm {
  from {
    stroke-dasharray: 22 307.86 22;
    transform: rotate(0);
  }
  to {
    stroke-dasharray: 2 347.86 2;
    transform: rotate(4turn);
  }
}

:root {
  --trans-dur: 0.3s;
  --primary: #008000; /* 진한 초록색 */
}
