.file-upload {
    display: flex; /* 버튼과 파일 정보를 가로로 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    margin: 20px auto;
  }
  
  .file-upload-label {
    display: inline-block;
    background-color: #ffffff;
    color: rgb(44, 44, 44);
    padding: 7px 15px;
    border-radius: 5px;
    font-family: 'eMedium';
    font-size: 12px;
    cursor: pointer;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  }
  
  .file-upload-label:hover {
    background-color: rgb(236, 236, 236) !important;
    color: rgb(49, 49, 49) !important;
  }
  
  .file-upload-input {
    display: none; /* 기본 파일 입력 필드 숨김 */
  }
  
  .file-details {
    margin-left: 10px; /* 버튼과 파일 정보 사이 간격 */
    font-size: 11px; /* 텍스트 크기 조정 */
    color: rgb(100, 100, 100); /* 텍스트 색상 */
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
    font-family: 'eMedium';
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 "..."로 표시 */
  }
  